<form action="/landmarks/<%=@landmark.id%>" method="post">

  <label for="name">Landmark Name: </label>
  <input type="text" name="landmark[name]" id="name" value="<%=@landmark.name%>">
  <br>

  <label for="year_completed">Landmark Year Completed: </label>
  <input type="text" name="landmark[year_completed]" id="year_completed" value="<%=@landmark.year_completed%>">

  <label>Figures</label>
  <% Figure.all.each do |figure| %>
    <input type="radio" name="landmark[figure_id]" id="figure_<%=figure.id%>" value="<%=figure.id%>" <%='checked' if @landmark.figure.id == figure.id %>><%=figure.name%></input><br>
  <% end %>

  <label for="new_figure">New Figure: </label>
  <input type="text" name="figure[name]" id="new_figure">
  <br>

  <button type="submit">Edit Landmark</button>

</form>
